# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# Java build files
# =========================
out/
bin/
target/
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary / cache
# =========================
*.tmp
*.swp
